<html>
    <head>
      {% if title %}
      <title>Flask Tutorial - {{ title }}</title>
      {% else %}
      <title>Welcome!</title>
      {% endif %}
    </head>
    <body>
        <div>Tango >> 
            <span>
                <a href="{{ url_for('login') }}">Login</a> | 
                <a href="{{ url_for('index') }}">Home</a> | 
                <a href="{{ url_for('logs') }}">Logs</a>
            </span></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr>
        <small>Just a foot note. Typically where the (c) notice goes.</small>
    </body>
</html>